:root {
  color-scheme: light dark;
}

p {
  margin: 0; /* between paragraphs */
}

#scrollStepInput {
    position: fixed;
    top: 10;
    right: 0;
}



div.chord {
  margin: 0;
  line-height: 4.3em;
  position: relative;
}

span.chord {
  display: inline-block;
  position: absolute;
  line-height: 1em;
  font-size: 75%;
  color: light-dark(black, black);
  top: 0;
  background-color: lightgray;
}

div.instrument {
  line-height: 1.2em;
}

span.instrument {
  display: inline-block;
  line-height: 1em;
  color: light-dark(black, black);
  font-size: 80%;
  top: 0;
  background-color: lightgray;
}