{% extends "base.html" %}

{% block libs %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1453160910119702"
        crossorigin="anonymous"></script>
<!-- Google tag (gtag.js) -->
{%- if config.theme.highlightjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
{%- for lang in config.theme.hljs_languages %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/{{lang}}.min.js"></script>
{%- endfor %}
<script>hljs.highlightAll();</script>
{%- endif %}

{% endblock %}